/* webapp/static/styles/editor.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #22577a;
  padding: 14px 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo .logo-title {
  font-size: 2rem;
}

.nav-links-container {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links-container a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.editor-wrapper {
  display: flex;
  margin: 20px;
  gap: 20px;
}

/* Left Panel Styles */
.editor-options {
  width: 38%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.editor-options h2 {
  text-align: center;
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input,
.input-group textarea,
.input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#provided-api-group {
  display: block;
}

.bento-box {
  border: 1px dashed #ccc;
  padding: 10px;
  margin-bottom: 15px;
  max-height: 300px;
  overflow-y: auto;
}

/* Left Panel Collapsibles*/

.collapsible {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.collapsible-header {
  background-color: #e0e0e0;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
}

.collapsible-content {
  padding: 10px;
  display: none;
}

.collapsible-content.active {
  display: block;
}

/* Field row styles in API Fields section */
.field-row {
  display: flex;
  padding: 4px 0;
  border-bottom: 1px dashed #ccc;
}
.field-row.header {
  font-weight: bold;
  background-color: #ddd;
  padding: 6px 0;
}
.field-name, .field-type, .field-select {
  flex: 1;
  padding: 0 5px;
}


/* Right Panel Styles */
.editor-preview {
  width: 60%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.preview-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.preview-header label {
  font-weight: bold;
}

.code-container {
  position: relative;
  flex-grow: 1;
}

#code-preview {
  width: 100%;
  height: 400px;
  padding: 10px;
  font-family: monospace;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#copy-code {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #22577a;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

#copy-code:hover {
  background: #80ed99;
  color: #22577a;
}

button {
  padding: 10px 20px;
  background-color: #22577a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #80ed99;
  color: #22577a;
}
